body{
    background-color: #f2f4c0;
    
}

article{
    background-color: #e4e978;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
    padding: 5px 15px;
    width: 700px;
}

section article{
    font-style: italic;
    color: #4c7658;
}

h2{
    color: #5c6e91
}
span{
    color: #5c6e91;
    font-size: 24px;
    font-style: italic;
}