/*dark color - #274c5c*/
/*bg color - #274c5c*/
/* light gray #f9f7f8; */
/* greeen #7eb693*/

body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: #ffffff;
    padding: 48px 86px;
    color: #274c5c;
    display: flex;
    align-items: center;
    gap: 12px;
    top: 0px;
}.header img{
    width: 30px;
}
.header .nav{
    margin-left: auto;
    margin-right: auto;
}
.header .nav-items{
    display: flex;
    gap: 24px;
}
.header .nav-item{
    font-weight: 600;
}
.header .search-bar{
    height: 40px;
    background-color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.header .search-bar input{
    background-color: transparent;
    padding: 4px 8px;
    outline: none;
    border: 0;
    flex: 1;
}
.header .search-bar button{
    border-radius: 50%;
    background-color: #7eb693;
    border: 0;
    cursor: pointer;
}
.header .cart{
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.header .cart p{
    padding: 4px 8px;
}
.header button{
    background-color: #274c5c;
    border: 0;
    border-radius: 50%;
    padding: 2px;
}
.header button i{
    color: #ffffff;
    padding: 6px;
}

/* Welcome Section */

.welcome{
    position: relative;
    text-align: center;
}
.welcome h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #274c5c;
    font-size: 48px;
    font-weight: bold;
}

/* About us Section */
.about{
    padding: 72px 48px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    color: #274c5c;
}
.about img{
    width: 90%;
}
.about .content{
    width: 65%;
    
}
.about .content span{
    color: #7eb693;
    margin-bottom: 12px;
} 
.about .content .title{
    font-size: 36px;
    margin-bottom: 12px;
} 
.about .content p{
    margin-bottom: 16px;
    
} 
.about .links{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}
.about .link{
    display: flex;
    align-items: flex-start;
    gap: 4px;
} 
.about .link img{
    width: 30px;
} 
.about .link p{
    font-weight: bold;
} 
.about button{
    background-color: #274c5c;
    padding: 12px 24px;
    color: #ffffff;
    border-color: #274c5c;
    border-radius: 8px;
}

/* Why Section */
.content-container{
    background-color: #f9f7f8;
    margin: auto;
    padding: 72px 48px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    align-items: flex-start;
}
.content-container img{
    width: 40%;
}
.how .how-content{
    width: 40%;
}
.how .how-content span{
    color: #7eb693;
    margin-bottom: 12px;
}
.how .how-title{
    font-size: 36px;
    margin-bottom: 12px;
}
.how .how-content > p{
    margin-bottom: 12px;
}
.how .how-segment{
    position: relative;
}
.how .segment-head{
    background-color: #ececec;
    width: 45%;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    margin-bottom: 16px;
    padding: 8px 12px;
}
.how .segment-head img{
    width: 20px;
}
.how .how-segment > p{
    width: 70%;
    margin-bottom: 16px;
    position: relative;
    left: 46px;
}
.how .assets{
    background-color: #f9f7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    padding: 72px 48px;
}
.how .asset{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 36px 20px;
    background-color: #ffffff;
    border-radius: 12px;
}
.how .asset img{
    background-color: #ececec;
    padding: 12px;
    border-radius: 12px;
}
.how .asset p{
    width: 100%
    ;
}

/* Team Section */
.team{
    padding: 72px 48px;
}

.team header{
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 36px;
}
.team header span{
    color: #7eb693;
    margin-bottom: 12px;
}
.team header h3{
    font-size: 36px;
    margin-bottom: 12px;
}
.team .cards{
    display: flex;
    align-items: center;
    gap: 18px;
    max-width: 70%;
    margin: auto;
}
.team .card{
    width: 300px;
    background-color: #f9f7f8;
    border-radius: 16px;
    overflow: hidden;
}
.team .card .thumbnail{
    height: 300px;
}
.team .card .thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team .card .content{
    padding: 18px;
}
.team .card .content .details{
    display: flex;
    align-items: center;
}
.team .card .content .details ul{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: auto;
}
.team .card .content .details span{
    color: #7eb693;
}

/* Offers Section */

.offers{
    padding: 72px 48px;
    background-color: #274c5c;
    text-align: center;
    color: #ffffff;
}
.offers header{
    margin-top: 48px;
}
.offers header span{
    color: #7eb693;
    margin-bottom: 12px;
    font-size: 24px;
}
.offers header h3{
    font-size: 36px;
}
.offers-list{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1080px;
    margin: 24px auto;

}
.offer{
    width: 260px;
    height: 260px;
    border-radius: 22px;
    overflow: hidden;
    background-color: #ffffff;
}
.offer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Subscribe Section */

.subscribe{
    padding: 72px 48px;
    position: relative;
}

.sub-content img{
    width: 80%;
    margin: auto;
}
.sub-details{
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}
.sub-details h3{
    font-size: 36px;
    color: #ffffff;
    width: 40%;
}
.sub-details input{
    padding: 20px;
    border-radius: 16px;
    border: 0;
    outline: none;
}
.sub-details button{
    padding: 20px;
    background-color: #274c5c;
    color: #ffffff;
    border-radius: 16px;
    border: 0;
    outline: none;
}

/* Contacts Section */

.contacts{
    padding: 72px 48px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.left{
    width: 30%;
    text-align: right;
    padding: 12px;
}
.left h3{
    margin-bottom: 16px;
}
.left ul li{
    margin-bottom: 12px;
}
.left ul li span{
    font-weight: bold;
}
.middle{
    text-align: center;
    width: 35%;
    padding: 12px;
    border-left: 1px solid black;
    border-right: 1px solid black;

}
.middle header{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 12px;
}
.middle header img{
    width: 30px;
    margin-left: auto;
}
.middle header h3{
    font-size: 28px;
    margin-right: auto;
}
.middle p{
    margin-bottom: 12px;
}
.middle ul{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 50%;
    margin: 24px auto;
}
.middle li i{
    padding: 14px;
    background-color: #f9f7f8;
    border-radius: 50%;
}
.right{
    text-align: left;
    width: 30%;
    padding: 16px;
}
.right h3{
    margin-bottom: 12px;
}
.right ul li{
    margin-bottom: 12px;
}

footer{
    text-align: center;
    padding: 8px 24px;
    border-top: 1px solid black;
    font-size: 14px;
}
